@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--radius: 0.65rem;

	--background-color: rgba(250 250 250);
	--background: 250 250 250;
	--popover: 250 250 250;
	--primary-foreground: 250 250 250;

	--foreground: 15 15 25;
	--border: 15 15 25;
	--popover-foreground: 15 15 25;
	--primary: 15 15 25;

	--muted: 255 0 0;
	--muted-foreground: 150 150 150;

	--secondary: 0 0 255;
	--secondary-foreground: 255 0 255;

	--card: 255 0 255;
	--card-foreground: 255 0 255;

	--accent: 247 247 255;
	--accent-foreground: 44 37 75;
	--destructive: 220 25 18;
	--input: 232 230 245;
	--ring: 234 55 0;

	--primary: 255 0 255;
	--primary-foreground: 255 255 0;
}

.dark {
	--background-color: rgba(15 15 25);
	--background: 15 15 25;
	--foreground: 250 250 250;
	--border: 250 250 250;
	--popover: 15 15 25;
	--popover-foreground: 250 250 250;
}
