@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--radius: 0.65rem;

	--background-color: rgb(242 247 242);
	--foreground-color: rgb(4, 43, 8);

	/* tokens */
	--token-background: 242 247 242;
	--token-foreground: 4 43 8;

	--background: var(--token-background);
	--popover: var(--token-background);
	--primary-foreground: var(--token-background);

	--foreground: var(--token-foreground);
	--border: var(--token-foreground);
	--popover-foreground: var(--token-foreground);
	--primary: var(--token-foreground);

	--muted: 228 236 222;
	--muted-foreground: 101 143 103;

	--accent: 228 236 222;
	--accent-foreground: var(--primary);

	/* unused for now */
	--secondary: var(--token-foreground);
	--secondary-foreground: var(--token-background);

	--card: var(--token-background);
	--card-foreground: var(--token-foreground);

	--input: 232 230 245;

	/* primary definition */
	--primary: 48 92 52;
	--ring: var(--primary);
	--primary-foreground: 255 255 255;
}

.dark {
	--background-color: rgb(1, 18, 2);
	--foreground-color: rgb(211, 225, 200);

	/* tokens */
	--token-background: 1 18 2;
	--token-foreground: 211 225 200;

	--muted: 13 27 14;
	--muted-foreground: 101 143 103;

	--accent: 13 27 14;
	--accent-foreground: 101 143 103;
}
