.selectable
    -webkit-user-select text
    user-select text

// :root
//     box-sizing border-box
//     padding 0
//     margin 0

body
    -webkit-user-select none
    user-select none
    padding 1rem
    margin 0
    display flex
    flex-direction column
    background-color var(--background-color)
    color var(--foreground-color)
    // --primary 82 116 122 // stoneblue
    // --primary 155 89 70 // terracotta
    // --primary 127 107 158 // lilac
    
h1
    font-size 2rem
    margin-bottom 1rem