.selectable
    -webkit-user-select text
    user-select text

:root
    --f-def "Sora", system-ui, sans-serif
    --f-serif "Alegreya", "Athelas", serif
    --f-head "Finger Paint", serif
    
    box-sizing border-box
    padding 0
    margin 0

    --trans all ease 0.2s
    --trans-m all ease 0.5s
    --trans-l all ease 1s

body
    font-family var(--f-def)
    transition var(--trans-l)
    -webkit-user-select none
    user-select none
    padding 1rem
    margin 0
    display flex
    flex-direction column